In [57]:
import numpy as np
import pandas as pd

In [58]:
from numpy.random import randn

In [59]:
np.random.seed(101)

In [60]:
# df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())
df = pd.DataFrame(randn(5,4),['1','2','3','4','5'],['A','B','C','D'])

# df = pd.DataFrame(randn(5,4),['1','2','3','4','5','6'],['A','B','C','D','E'])

In [61]:

# print(df)
df

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [62]:
#grab out a Pandas Series
df['A']

1    2.706850
2    0.651118
3   -2.018168
4    0.188695
5    0.190794
Name: A, dtype: float64

In [63]:
type(df['A'])

pandas.core.series.Series

In [64]:
type(df)

pandas.core.frame.DataFrame

In [65]:
df.A
#avoid to use this kinda method to grab a column / a pandas series

1    2.706850
2    0.651118
3   -2.018168
4    0.188695
5    0.190794
Name: A, dtype: float64

In [66]:
df[['B','D']]

          B         D
1  0.628133  0.503826
2 -0.319318  0.605965
3  0.740122 -0.589001
4 -0.758872  0.955057
5  1.978757  0.683509

In [67]:
df[['A']]

          A
1  2.706850
2  0.651118
3 -2.018168
4  0.188695
5  0.190794

In [68]:
df['NEW'] = df['A'] + df['D']

In [69]:
df

          A         B         C         D       NEW
1  2.706850  0.628133  0.907969  0.503826  3.210676
2  0.651118 -0.319318 -0.848077  0.605965  1.257083
3 -2.018168  0.740122  0.528813 -0.589001 -2.607169
4  0.188695 -0.758872 -0.933237  0.955057  1.143752
5  0.190794  1.978757  2.605967  0.683509  0.874303

In [70]:
df.drop('1')

          A         B         C         D       NEW
2  0.651118 -0.319318 -0.848077  0.605965  1.257083
3 -2.018168  0.740122  0.528813 -0.589001 -2.607169
4  0.188695 -0.758872 -0.933237  0.955057  1.143752
5  0.190794  1.978757  2.605967  0.683509  0.874303

In [71]:
df.drop('NEW',axis = 1)
# If you wanna remove a column, you should set the axis to 1
# Otherwise, the default arg is 0 and it would only affect to a row

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [72]:
df

          A         B         C         D       NEW
1  2.706850  0.628133  0.907969  0.503826  3.210676
2  0.651118 -0.319318 -0.848077  0.605965  1.257083
3 -2.018168  0.740122  0.528813 -0.589001 -2.607169
4  0.188695 -0.758872 -0.933237  0.955057  1.143752
5  0.190794  1.978757  2.605967  0.683509  0.874303

In [73]:
df.shape

(5, 5)

In [74]:
df.drop('NEW',axis = 1, inplace = True)

# the default inplace arg is False,
# it means .drop would not actually affect the dataFrame

In [75]:
df

          A         B         C         D
1  2.706850  0.628133  0.907969  0.503826
2  0.651118 -0.319318 -0.848077  0.605965
3 -2.018168  0.740122  0.528813 -0.589001
4  0.188695 -0.758872 -0.933237  0.955057
5  0.190794  1.978757  2.605967  0.683509

In [78]:
# Selecting rows
# loc is short for location
df.loc['2']

          A         B         C         D
2  0.651118 -0.319318 -0.848077  0.605965

In [77]:
# iloc is short for index location
df.iloc[0]

A    2.706850
B    0.628133
C    0.907969
D    0.503826
Name: 1, dtype: float64

In [79]:
df.loc[['2','5']]

          A         B         C         D
2  0.651118 -0.319318 -0.848077  0.605965
5  0.190794  1.978757  2.605967  0.683509

In [80]:
df.loc['5','B']

1.9787573241128278

In [81]:
df.loc[['1','3'],['B','C','D']]

          B         C         D
1  0.628133  0.907969  0.503826
3  0.740122  0.528813 -0.589001